body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}
:root {
  --primary-color: #2C3E50;
  --secondary-color: #18BC9C;
  --bg-light: #f9f9f9;
  --text-dark: #333;
  --text-light: #fff;
}
.site-header {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--text-light);
  font-size: 1.5rem;
  font-weight: 600;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 500;
}
.nav-links a:hover,
.nav-links .active {
  color: var(--secondary-color);
}
.main{
  background-color: var(--bg-light);
  padding: 4rem 2rem;
  text-align: center;
}
.main-content h1 {
  font-size: 2.5rem;
}
.main-content p {
  font-size: 1.2rem;
}
.about,
.services,
.portfolio,
.contact {
  padding: 3rem 2rem;
  background-color: #fff;
}
.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}
.card {
  flex: 1 1 30%;
  background-color: var(--bg-light);
  padding: 1rem;
  border-radius: 8px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
.gallery .item {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
}
.testimonials {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 2rem;
  margin: 2rem;
  border-radius: 8px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
}
.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--secondary-color);
  outline: none;
}
.contact-form button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form button:hover {
  background-color: var(--secondary-color);
}
.footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1rem;
}
@media (max-width: 768px) {
  .service-cards {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
  }
}